body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,15,18,1) 7%, rgba(0,13,15,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0%;
    width: 90%
}

#home {
    font-family: 'Bebas Neue';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,15,18,1) 7%, rgba(0,13,15,1) 100%, rgba(0,212,255,1) 100%);
    font-family: 'Montserrat';
}
  
  li {
    float: left;
}
  
  li a {
    font-family: 'Montserrat';
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
  
  li a:hover:not(.active) {
    background-color: #111;
}
  
.divisor {
    border-color: #1E1D1D;
    width: 110%
}

div.container {
    position: relative;
    left: 100px;

}

.hello-welcome {
    color: #2ECC71;
}

.title {
    font-size: 50px;
}

.access {
    background-color: #2ECC71;
    border: 1px solid;
    border-color: #2ECC71;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    font-family: 'Montserrat';
}

.contact-me {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,15,18,1) 7%, rgba(0,13,15,1) 100%, rgba(0,212,255,1) 100%);;
    border: 1px solid;
    border-color: #666666;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-size: 16px;
    color: white;
}

.logo-socials {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.media-socials {
    display: flex;
    position: relative;
}

.about-me {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 60px;
}

.my-self {
    color: #2ECC71;
}